@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

  /* background-color: #f4c531; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-self: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5E63BA;
}

.container{
    width: 850px;
    background-color: #fff;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;
}

.hangman-box{
    max-width: 270px;
}

.hangman-box h1{
    font-size: 1.45rem;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.word-display{
    display: ;
}

.word-display .letter{
    width: 28px;
    border-bottom: 3px solid #000;
}